DB_ROOT_USERNAME="root"
DB_ROOT_PASSWORD="12345678"
DB_PIPE_DATABASE="pipelines"
DB_PIPE_USER_RW="pipe_rw"
DB_PIPE_PASS_RW="12345678"
DB_RAW_DATABASE="raw_data"
DB_RAW_RW_USER="raw_data_rw"
DB_RAW_RW_PASS="12345678"
DB_FE_DATABASE="frontend_data"
DB_FE_RW_USER="fe_data_rw"
DB_FE_RW_PASS="12345678"
DB_FE_R_USER="fe_data_r"
DB_FE_R_PASS="12345678"
COMPOSE_PROJECT_NAME="tech-atlas--local"